@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    font-size: 12px;
}


.container {
    padding: 0 !important;
    max-width: 1170px !important;
}

.new-request-button-container {
    margin-bottom: 30px;
}

.table-container {
    margin-top: 30px;
}

.table-navigation-pages {
    display: flex;
    align-items: center;
}

.table-navigation-pages span {
    margin-right: 15px;
}

.number-wrapper input::-webkit-outer-spin-button,
.number-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.number-wrapper input[type=number] {
    -moz-appearance: textfield;
}

.number-wrapper {
    position: relative;
    margin-left: 15px;
}

.input {
    border: solid 1px rgba(0, 0, 0, 0.22);
    padding: 10px;
}

.input:active {
    border: solid 1px black;
}

.input:focus {
    border: solid 1px black;
}

.input:disabled {
    border: solid 1px rgba(0, 0, 0, 0.14);
    background-color: white;
}

.number-input {
    height: 40px;
    width: 80px;
}

.number-up {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    width: 22px;
    height: 20px;
    cursor: pointer;
}

.number-up:hover {
    background-color: #575756;
}

.number-up:after {
    content: "\25B2";
    color: white;
    position: absolute;
    left: 6px;
}

.number-down {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: black;
    width: 22px;
    height: 20px;
    cursor: pointer;
}

.number-down:hover {
    background-color: #575756;
}

.number-down:after {
    content: "\25BC";
    color: white;
    position: absolute;
    left: 6px;
}


.table-nav--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.table-nav--bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 32px;
    right: 0;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 28px;
    right: 0;
}

table {
    width: 100%;
    font-size: 12px;
}

table thead {
    font-weight: bold;
}

table tr th {
    border-collapse: collapse;
    border-bottom: 1px solid black;
    padding: 25px 12px 25px 10px;
    position: relative;
    cursor: pointer;
}

table tr td {
    padding: 20px 12px 20px 10px;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.22);
}

table tr td:nth-child(1) {
    padding-left: 10px;
}

.fetch-info {
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

.truncated-string {
    width: 100%;
    display: flex;
}

table tr:nth-child(1) {
    animation-name: opacity;
    animation-duration: .1s;
}

table tr:nth-child(2) {
    animation-name: opacity;
    animation-duration: .15s;
}

table tr:nth-child(3) {
    animation-name: opacity;
    animation-duration: .2s;
}

table tr:nth-child(4) {
    animation-name: opacity;
    animation-duration: .25s;
}

table tr:nth-child(5) {
    animation-name: opacity;
    animation-duration: .3s;
}

table tr:nth-child(6) {
    animation-name: opacity;
    animation-duration: .35s;
}

table tr:nth-child(7) {
    animation-name: opacity;
    animation-duration: .4s;
}

table tr:nth-child(8) {
    animation-name: opacity;
    animation-duration: .45s;
}

table tr:nth-child(9) {
    animation-name: opacity;
    animation-duration: .5s;
}

table tr:nth-child(10) {
    animation-name: opacity;
    animation-duration: .55s;
}

table tr {
    border-collapse: collapse;
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    height: 3em;
    animation-name: opacity;
    animation-duration: .6s;
}


.custom-tooltip {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-tooltip .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 30px;
    top: 0;
    left: 24px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.visible {
    visibility: visible;
}

